<% for r in @filter %>

  <p><%= r.name %></p>
  <p><%= image_tag r.image.thumb.url %></p>
  <p><%= r.cuisines  %></p>
  <p><%= simple_format(r.description) %></p>
  <p>--------------------------------------</p>

<% end %>